html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro > h1 {
    color: #212121;
    font-size: 10vh;
    font-weight:600;
}

.intro > h2 {
    color: #757575;
    font-size: 3vh;
    font-weight:400;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

a:link, a:visited {
    color: rgba(119,51,118,1);
}


footer {
  color: #212121;
  font-size: 2vh;
  font-weight:300;
}

img {
    max-width: 100%;
}
